html {
    background-color: white;
    font-family: 'Roboto Slab', sans-serif;
}
body, section {
    margin: 0 auto;
}
.flow-small {
    width: 650px;
}
.flow-large {
    width: 800px;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-style: bold;
}
p {
    line-height: 180%;
}
.threeway > li {
    width: 27%;
    margin: 3%;
    float: left;
}
.threeway p {
    font-size: 13px;
}